@using BowlingWeb.Models;

@{
    ViewBag.Title = "AllMemberRecord";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="AllMemberRecordCtrl" class="container">

    <div ng-repeat="x in [].constructor(2) track by $index">
        <br />
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-2 col-sm-2" ng-repeat="member in GetAllMember">
            <img src="~/images/Member/{{member.Name}}.jpg" class="img-thumbnail" alt="{{member.Name}}">
            <input type="submit" value={{member.Name}} ng-click="RecordOption(member.Account)" class="btn btn-warning" style="text-align:center" />
        </div>
    </div>
    <div ng-repeat="x in [].constructor(2) track by $index">
        <br />
    </div>

</div>

@section Scripts {
    @*<script src="~/Scripts/WebApp/Member/AllMemberRecordCtrl.js"></script>*@
    <script src="@Url.Versioned("~/Scripts/WebApp/Member/AllMemberRecordCtrl.js")"></script>
}
