@using BowlingWeb.Models;

@{
    ViewBag.Title = "ChartRecord";
}

<div ng-controller="ChartRecordCtrl" class="container" style="margin-top: 60px">

    <div class="form-group d-flex justify-content-between">
        <h3 style="color:cornflowerblue;">{{Member.Name}}</h3>
        <button type='reset' class='btn btn-danger' style="text-align:right" onclick='javascript:history.back();'> 回上頁 </button>
    </div>
    <br />
    <div class="row">
        <div class="input-group mb-3 w-25 p-3">
            <h3>請選擇統計區間</h3>
        </div>
        <div class="input-group mb-3 w-25 p-3"
             moment-picker="ctrl.datepicker"
             format="YYYY/MM/DD">
            <span class="input-group-addon">
            </span>
            <div class="input-group-prepend">
                <span class="input-group-text material-icons" id="basic-addon1">calendar_month</span>
            </div>
            @*<div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">請選擇統計區間</span>
                </div>*@
            <input class="form-control"
                   placeholder={{startDate}}
                   ng-model="ctrl.datepicker"
                   ng-model-options="{ updateOn: 'blur' }">
        </div>
        <div class="input-group mb-3 w-25 p-3"
             moment-picker="ctrl.datepicker1"
             format="YYYY/MM/DD">
            <span class="input-group-addon">
            </span>
            <div class="input-group-prepend">
                <span class="input-group-text material-icons" id="basic-addon1">calendar_month</span>
            </div>
            <input class="form-control"
                   placeholder={{endDate}}
                   ng-model="ctrl.datepicker1"
                   ng-model-options="{ updateOn: 'blur' }">
        </div>
        <div class="input-group mb-3 w-25 p-3">
            <button type="button" class="btn btn-dark" ng-click="Statistics(ctrl.datepicker, ctrl.datepicker1)">計算</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group d-flex justify-content-between">
            <h4>總局數：{{Member.Games}}局</h4>
            <h4>最高分：{{Member.MaxScore}}分</h4>
            <h4>最低分：{{Member.MinScore}}分</h4>
            <h4>平均分數：{{Member.AverageScore}}分</h4>
        </div>
    </div>
    <div id="painting">
    </div>
    <button type="button" class="btn btn-warning" ng-click="PersonalRecord()">分數列表</button>
</div>

@section Scripts {
    <script src="@Url.Versioned("~/Scripts/WebApp/Member/ChartRecordCtrl.js")"></script>
}