@using BowlingWeb.Models;

@{
    ViewBag.Title = "Create";
}

<div ng-controller="CreateCtrl" class="container" style="margin-top: 60px">

    <br />
    <br />
    <div class="input-group mb-3 w-25 p-3">
        <h3>新增分數</h3>
    </div>
    <div class="row">
        <div class="input-group mb-3 w-25 p-3">
            <h6>請選擇日期</h6>
        </div>
        <div class="input-group mb-3 w-25 p-3"
             moment-picker="ctrl.datepicker"
             format="YYYY/MM/DD">
            <span class="input-group-addon">
            </span>
            <div class="input-group-prepend">
                <span class="input-group-text material-icons" id="basic-addon1">calendar_month</span>
            </div>
            <input class="form-control"
                   placeholder="{{ today | date:'yyyy/MM/dd' }}"
                   ng-model="ctrl.datepicker"
                   ng-model-options="{ updateOn: 'blur' }">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-2 col-sm-2" ng-repeat="Member in GetUserGroup">
            <h3 style="color:cornflowerblue;">{{Member.Name}}</h3>
            <div ng-repeat="x in [].constructor(5) track by $index">
                <input type="text" ng-model="Member.CreateScores[$index]" name="Scope{{$index}}" placeholder="{{ $index }}">
            </div>
        </div>
        <button type="button" class="btn btn-warning" ng-click="CreateScores(ctrl.datepicker, GetUserGroup)">新增</button>
    </div>
    <br />
    <br />

</div>

    @section Scripts {
        <script src="@Url.Versioned("~/Scripts/WebApp/Member/CreateCtrl.js")"></script>
    }
