@using BowlingWeb.Models;

@{
    ViewBag.Title = "Record";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="RecordCtrl" class="container" style="margin-top: 100px">
    <div ui-view></div>
</div>

@section Scripts {
    <script src="@Url.Versioned("~/Scripts/WebApp/Member/RecordCtrl.js")"></script>
}