@{
    ViewBag.Title = "Record";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>個人紀錄</h3>

<div ng-controller="RecordCtrl" class="container" style="margin-top: 60px">
    <div class="row">
        <h4>{{Member.Name}}</h4>
        <br />
        <div class="col" ng-repeat="skillScores in Member.SkillScores">
            <h4>{{skillScores.Skill}}</h4>
            <div ng-repeat="scores in skillScores.Scores track by $index">
                <h6>{{scores}}</h6>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/WebApp/Member/RecordCtrl.js"></script>
}