@using BowlingWeb.Models;

@{
    ViewBag.Title = "Register";
}

<div ng-controller="RegisterCtrl" class="container" style="margin-top: 60px">
    <br />
    <div class="form-group d-flex justify-content-between">
        <div class="form-group">
            <label>帳號</label>
            <input type="text" class="form-control" ng-model="Member.Account">
            <br />
            <label>密碼</label>
            <input type="password" class="form-control" ng-model="Member.Password">
            <br />
            <label>姓名</label>
            <input type="text" class="form-control" ng-model="Member.Name">
            <br />
            <label>EMail</label>
            <input type="text" class="form-control" ng-model="Member.Email">
            <br />
        </div>
    </div>
    <div class="panel-footer">
        <button type="button" ng-click="CreateMember()" class="btn btn-primary">註冊</button>
    </div>
</div>

@section Scripts {
    <script src="@Url.Versioned("~/Scripts/WebApp/Member/RegisterCtrl.js")"></script>
}