@*@model IList<BowlingWeb.Models.Member>*@

@{
    ViewBag.Title = "Upload";
}

@*<h1>上傳檔案</h1>*@
<br />
<br />
<br />
<br />

<div ng-controller="UploadCtrl" class="container" style="margin-top: 60px">

    <form id="UploadForm" action="@Url.Action("Upload")" method="post" enctype="multipart/form-data">
        <label for="file">檔案名稱：</label>
        <input type="file" name="file" id="files" />
        <br />
        <input type="submit" id="uploadBtn" disabled />
        <br />
    </form>

    @*<input type="file" id="file-uploader" data-target="file-uploader" accept="xlsx/*" multiple="multiple" />
    <div class="panel-footer">
        <button type="button" ng-click="Upload()" class="btn btn-primary">確定</button>
    </div>*@

    <div class="row">
        <div class="col-sm-3" ng-repeat="item in ReadExcel">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{item.Name}}</h5>
                    <p class="card-text">{{item.Name}}</p>
                    <h6>{{item.Scores}}</h6>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/Scripts/WebApp/Member/UploadCtrl.js"></script>
}
