@using BowlingWeb.Models;

@{
    ViewBag.Title = "Upload";
}

<div ng-controller="UploadCtrl" class="container" style="margin-top: 60px">

    <div ng-repeat="x in [].constructor(3) track by $index">
        <br />
    </div>
    <form id="UploadForm" action="@Url.Action("UpdateFileInfo")" method="post" enctype="multipart/form-data">
        <label for="file">檔案名稱：</label>
        <input type="file" name="file" id="files" />
        <br />
        <input type="submit" id="uploadBtn" disabled />
        <br />
    </form>
    <div ng-repeat="x in [].constructor(3) track by $index">
        <br />
    </div>

</div>

@section Scripts {
    <script src="@Url.Versioned("~/Scripts/WebApp/Member/UploadCtrl.js")"></script>
}