@{
    ViewBag.Title = "Unauthorized";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unauthorized</h2>
<div class="text-center">
    <img class="rounded" src="~/images/error.png" alt="error" />
</div>

